APP_DEBUG = true[APP]HOST =DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = tp_layimUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX = yz_[LANG]default_lang = zh-cn[XUNFEI]APP_ID = APP_KEY = 