{extend name="public/base"}
{block name="title"}彦祖聊天室{/block}
{block name="main"}
<a href="{:url('findgroup/outLogin')}" style="position: absolute;right: 0;"><button class="layui-btn">退出聊天室</button></a>
<script type="text/javascript">
    //localStorage.clear();
    layui.use('layim', function(layim){
        //建立WebSocket通讯
        var socket = new WebSocket('ws://127.0.0.1:7272');
        //基础配置
        layim.config({
            //获取主面板列表信息
            init: {
                url: "{:url('getList')}" //接口地址（返回的数据格式见下文）
                ,type: 'get' //默认get，一般可不填
                ,data: {} //额外参数
            }
            //获取群员接口
            ,members: {
                url: "{:url('getMembers')}" //接口地址（返回的数据格式见下文）
                ,type: 'get' //默认get，一般可不填
                ,data: {} //额外参数
            },
            uploadFile: {
                url: "{:url('/index/upload/uploadFile')}"
            }
            ,uploadImage: {
                url: "{:url('/index/upload/uploadImg')}"
            }
            ,isAudio: true //开启音频
            ,isVideo:true  //开启视频
            //扩展工具栏，下文会做进一步介绍（如果无需扩展，剔除该项即可）
            ,tool: [{
                alias: 'code' //工具别名
                ,title: '代码' //工具名称
                ,icon: '&#xe64e;' //工具图标，参考图标文档
            }]
            ,brief: false //是否简约模式（默认false，如果只用到在线客服，且不想显示主面板，可以设置 true）
            ,title: '彦祖聊天室' //主面板最小化后显示的名称
            ,maxLength: 3000 //最长发送的字符长度，默认3000
            ,initSkin: '{$skin ?? "1.jpg"}' //默认皮肤
            ,notice: true //是否开启桌面消息提醒（默认false）
            ,isfriend: true //是否开启好友（默认true，即开启）
            ,isgroup: true //是否开启群组（默认true，即开启）
            ,right: '20px' //默认0px，用于设定主面板右偏移量。该参数可避免遮盖你页面右下角已经的bar。
            ,minRight: '20px' //最小化后距离桌面
            ,chatLog: "{:url('Chatlog/index')}" //聊天记录地址（如果未填则不显示）
            ,find: "{:url('findgroup/index')}" //查找好友/群的地址（如果未填则不显示）
            ,copyright: false //是否授权，如果通过官网捐赠获得LayIM，此处可填true
            ,msgbox: layui.cache.dir + 'css/modules/layim/html/msgbox.html' //消息盒子页面地址，若不开启，剔除该项即可
        });

        //连接成功时触发
        socket.onopen = function(){
            // 登录
            var login_data = '{"type":"init","id":"{$uinfo.id}","username":"{$uinfo.username}","avatar":"{$uinfo.avatar}","sign":"{$uinfo.sign}"}';
            socket.send( login_data );
            console.log("websocket握手成功!");
        };

        //监听收到的消息
        socket.onmessage = function(res){
            //console.log(res.data);
            var data = eval("("+res.data+")");
            switch(data['message_type']){
                // 服务端ping客户端
                case 'ping':
                    socket.send('{"type":"ping"}');
                    break;
                // 登录 更新用户列表
                case 'init':
                    //console.log(data.id +": 登录成功");
                    //layim.getMessage(res.data); //res.data即你发送消息传递的数据（阅读：监听发送的消息）
                    break;
                //好友登录
                case 'friend_login':
                    layim.setFriendStatus(data.id,'online'); //修改好友登录状态
                    break;
                //添加好友或加群消息通知
                case 'friend':
                    layim.msgbox(data.count)
                    break;
                //添加 用户
                case 'addUser':
                    layim.addList(data.data);
                    break;
                //删除 用户
                case 'delUser':
                    layim.removeList({
                        type: 'friend'
                        ,id: data.data.id //好友或者群组ID
                    });
                    break;
                // 添加 分组信息
                case 'addGroup':
                    layim.addList(data.data);
                    break;
                // 添加 分组信息
                case 'delGroup':
                    layim.removeList({
                        type: 'group'
                        ,id: data.id //好友或者群组ID
                    });
                    break;
                case "createMyGroup":
                    console.log(data.data)
                    break;
                // 检测聊天数据
                case 'chatMessage':
                    console.log(data)
                    layim.getMessage(data.data);
                    break;
                // 离线消息推送
                case 'logMessage':
                    setTimeout(function(){layim.getMessage(data.data)}, 1000);
                    break;
                // 用户退出 更新用户列表
                case 'logout':
                    layim.setFriendStatus(data.id,'offline'); //修改好友登录状态
                    break;
            }
        };
        //layim建立就绪
        layim.on('ready', function(res){
            $.ajax({
                type:'get',
                url :"{:url('Chatlog/getSystem')}",
                dataType:'json',
                success:function (res) {
                    if (res){
                        layim.msgbox(parseInt(res))
                    }
                }
            })
        });

        //消息发送
        layim.on('sendMessage', function(res){
            //console.log(res);
            // 发送消息
            var mine = JSON.stringify(res.mine);
            var to = JSON.stringify(res.to);
            var login_data = '{"type":"chatMessage","data":{"mine":'+mine+', "to":'+to+'}}';
            socket.send( login_data );

        });
        //监听自定义工具栏点击，以添加代码为例
        layim.on('tool(code)', function(insert, send, obj){ //事件中的tool为固定字符，而code则为过滤器，对应的是工具别名（alias）
            layer.prompt({
                title: '插入代码'
                ,formType: 2
                ,shade: 0
            }, function(text, index){
                layer.close(index);
                insert('[pre class=layui-code]' + text + '[/pre]'); //将内容插入到编辑器，主要由insert完成
                //send(); //自动发送
            });
            //console.log(this); //获取当前工具的DOM对象
            //console.log(obj); //获得当前会话窗口的DOM对象、基础信息
        });

        //监听窗口的切换
        layim.on('chatChange', function(obj){
            let type = obj.data.type,
                cache = layim.cache(),
                username = cache.mine.username,
                status = obj.data.status;
            if(type === 'friend'){
                if(status === 'online'){
                    layim.setChatStatus("<span style='color: #00F7DE'>在线</span>")
                }else {
                    layim.setChatStatus("<span style='color: #c9c9c9'>离线</span>")
                }
            }else if(type === 'group'){
                socket.send(JSON.stringify({
                    type : 'groupMessage',
                    data : {
                        system:true,
                        id:obj.data.id,
                        type: type,
                        content : username + " 加入群聊~"
                    }
                }))
            }
        });

        //更新签名
        layim.on('sign',function (sign) {
            $.getJSON("{:url('findgroup/setSign')}", {'sign' : sign}, function(res){
                if( 1 == res.code ){
                    layer.alert( res.msg, {'icon' : 1});
                }else{
                    layer.alert( res.msg, {'icon' : 2} );
                }
            })
        })

        //保存更该的皮肤
        layim.on('setSkin',function ($filename, src) {
            $.getJSON("{:url('findgroup/setSkin')}", {'src' : src,'listen':'setSkin'}, function(res){


            })
        })

    });
</script>
{/block}


